# flyctl launch added from .gitignore
**\.env
**\__pycache__
**\*.pyc
**\*.pyo
**\.venv
**\venv

**\.idea

# flyctl launch added from .idea\.gitignore
# Default ignored files
.idea\shelf
.idea\workspace.xml
fly.toml
